<img src="../../../assets/images/e1.jpg" height="450" width="100%"/>

<div id="content" class="container-fluid">
  <div class="row">
    <div class="container info-about">

      <div class="row">
        <div class="col-md-12" style="padding-top: 20px">
          <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
          <style type="text/css">body {font-family: arial !important}</style>
          <h3 style="color: #ff7315;">{{ this.translate.data["SHIPPING"] | translate }}</h3>

          <strong>{{ this.translate.data["QUESTION1"] | translate }}</strong>

          <p>+ {{ this.translate.data["ANSWER1"] | translate }}<br />
            + {{ this.translate.data["ANSWER2"] | translate }}<br />
            {{ this.translate.data["Q&A"] | translate }}<br />
            <strong>{{ this.translate.data["QUESTION2"] | translate }}</strong><br />
            - {{ this.translate.data["ANSWER3"] | translate }}<br />
            <strong>{{ this.translate.data["QUESTION3"] | translate }}</strong><br />
            - {{ this.translate.data["ANSWER4"] | translate }}<br />
            <strong>{{ this.translate.data["QUESTION4"] | translate }}</strong><br />
            - {{ this.translate.data["ANSWER5"] | translate }}<br />
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
