<img src="../../../assets/images/e1.jpg" height="450" width="100%"/>
<br/>
<!-- Contact Start -->
<div class="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact-info">
          <h2 style="font-size: 30px;margin-bottom: 16px;color: #ff7315; margin: 0px 110px 0px;">{{ this.translate.data["OURSTORE"] | translate }}</h2> <br/>
          <p style="color: #2c3038"><i class="fa fa-map-marker"></i> &nbsp;{{ this.translate.data["ADDRESS1"] | translate }}</p>
          <p style="color: #2c3038"><i class="fa fa-envelope"></i> &nbsp;{{ this.translate.data["EMAIL"] | translate }}</p>
          <p style="color: #2c3038"><i class="fa fa-phone"></i> &nbsp;{{ this.translate.data["PHONE1"] | translate }}</p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook-f"></i></a>
            <a href=""><i class="fa fa-linkedin-in"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info">
          <h2 style="font-size: 30px;margin-bottom: 16px;color: #ff7315;margin: 0px 110px 0px;">{{ this.translate.data["OURSTORE"] | translate }}</h2> <br/>
          <p style="color: #2c3038"><i class="fa fa-map-marker"></i> &nbsp;{{ this.translate.data["ADDRESS2"] | translate }}</p>
          <p style="color: #2c3038"><i class="fa fa-envelope"></i> &nbsp;{{ this.translate.data["EMAIL"] | translate }}</p>
          <p style="color: #2c3038"><i class="fa fa-phone"></i> &nbsp;{{ this.translate.data["PHONE2"] | translate }}</p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook-f"></i></a>
            <a href=""><i class="fa fa-linkedin-in"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info">
          <h2 style="font-size: 30px;margin-bottom: 16px;color: #ff7315;margin: 0px 110px 0px;">{{ this.translate.data["OURSTORE"] | translate }}</h2> <br/>
          <p style="color: #2c3038"><i class="fa fa-map-marker"></i> &nbsp;{{ this.translate.data["ADDRESS3"] | translate }}</p>
          <p style="color: #2c3038"><i class="fa fa-envelope"></i> &nbsp;{{ this.translate.data["EMAIL"] | translate }}</p>
          <p style="color: #2c3038"><i class="fa fa-phone"></i> &nbsp;{{ this.translate.data["PHONE3"] | translate }}</p>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook-f"></i></a>
            <a href=""><i class="fa fa-linkedin-in"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
