<img src="../../../assets/images/e1.jpg" height="450" width="100%"/>

<br/><br/><br/>
<div class="container">
<div class = "size_page" >
  <h3 style="border-bottom:0px; margin-top:30px; color: #ff7315">1.{{ this.translate.data["TUVAN"] | translate }}</h3>

  <table class="table table-responsive table-bordered">
    <tbody>
    <tr>
      <td colspan="9">
        <h5><b>{{ this.translate.data["SIZE AO"] | translate }}</b></h5>
      </td>
      <td class="hidden-xs" rowspan="15" width="300px;"><img src="https://ivymoda.com/assets/files/news/2017/08/04/0c1455a7a3d5b7ac9786808a03307277.jpg" width="300" /></td>
    </tr>

    <tr>
      <td rowspan="2">{{ this.translate.data["STT"] | translate }}</td>
      <td rowspan="2">{{ this.translate.data["NAME"] | translate }}</td>
      <td colspan="5">{{ this.translate.data["SIZE"] | translate }}</td>
    </tr>
    <tr>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; S&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; M&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; L&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; XL&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; XXL&nbsp; &nbsp;</td>
    </tr>
    <tr>
      <td>1</td>
      <td>{{ this.translate.data["VAI"] | translate }}</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 36</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 37</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 38</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 39</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 40</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{ this.translate.data["NGUC"] | translate }}</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp; 82</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 86</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 90</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 94</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 98</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{ this.translate.data["EO"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 64</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp;  68</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp;  72</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp;  76</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp;  80</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{ this.translate.data["HONG"] | translate }}</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 88</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;92</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;96</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp; 100</td>
      <td> &nbsp; &nbsp; &nbsp; &nbsp; 104</td>
    </tr>
    <tr>
      <td colspan="9">
        <h5><b>{{ this.translate.data["SIZE QUAN"] | translate }}</b></h5>
      </td>
    </tr>
    <tr>
      <td rowspan="2">{{ this.translate.data["STT"] | translate }}</td>
      <td rowspan="2">{{ this.translate.data["NAME"] | translate }}</td>
      <td colspan="5">{{ this.translate.data["SIZE"] | translate }}</td>
    </tr>
    <tr>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; S&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; M&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; L&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; XL&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; XXL&nbsp; &nbsp;</td>
    </tr>
    <tr>
      <td>1</td>
      <td>{{ this.translate.data["EO"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 64</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 68</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 72</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 76</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 80</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{ this.translate.data["HONG"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 88</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 92</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 96</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 100</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 104</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{ this.translate.data["KG"] | translate }} (kg)</td>
      <td>&nbsp; &nbsp; &nbsp; 40 - 45</td>
      <td>&nbsp; &nbsp; &nbsp; 45 - 48</td>
      <td>&nbsp; &nbsp; &nbsp; 48 - 52</td>
      <td>&nbsp; &nbsp; &nbsp; 52 - 60</td>
      <td>&nbsp; &nbsp; &nbsp; 60 - 65</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{ this.translate.data["CHIEU CAO"] | translate }} (kg)</td>
      <td>&nbsp; &nbsp; 150 - 155 &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; 155 - 160 &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; 160 - 165 &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; 165 - 170 &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; 170 - 172 &nbsp; &nbsp;</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-responsive table-bordered">
    <tbody>
    <tr>
      <td colspan="9">
        <h5><b>{{ this.translate.data["SIZE GIAY"] | translate }}</b></h5>
      </td>
      <td class="hidden-xs" rowspan="5" width="300px;"><img src="https://ivymoda.com/assets/files/news/2017/08/04/7ca90247ac04def9f527bf1579e8aaf0.jpg" width="300" /></td>
    </tr>

    <tr>
      <td rowspan="2">{{ this.translate.data["NAME"] | translate }}</td>
      <td colspan="6">{{ this.translate.data["SIZE"] | translate }}</td>
    </tr>
    <tr>
      <td>&nbsp; &nbsp; &nbsp; 34&nbsp; &nbsp; &nbsp; </td>
      <td>&nbsp; &nbsp; &nbsp; 35&nbsp; &nbsp;&nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;36  &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;37 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;38  &nbsp; </td>
      <td>&nbsp; &nbsp; &nbsp; 39 &nbsp; &nbsp; &nbsp;</td>
    </tr>
    <tr>
      <td>{{ this.translate.data["CHIEU DAI"] | translate }}</td>
      <td>&nbsp; &nbsp;&nbsp; 20,5 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;21,5 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;22 - 22,5&nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;23 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;23,8 - 24,1 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; 24,5 &nbsp; &nbsp; &nbsp;</td>
    </tr>
    </tbody>
  </table>

  <h3 style="border-bottom:0px; margin-top:30px;color: #ff7315">2.{{ this.translate.data["TU VAN NAM"] | translate }}</h3>

  <table class="table table-responsive table-bordered">
    <tbody>
    <tr>
      <td colspan="9">
        <h5><b>{{ this.translate.data["SIZE AO 1"] | translate }}</b></h5>
      </td>
      <td class="hidden-xs" rowspan="85" width="300px;"><img src="https://ivymoda.com/assets/files/news/2017/07/21/7862a565a9224a59871f26feca1864d0.png" width="300" /></td>
    </tr>

    <tr>
      <td rowspan="2">{{ this.translate.data["STT"] | translate }}</td>
      <td rowspan="2">{{ this.translate.data["NAME"] | translate }}</td>
      <td colspan="5">{{ this.translate.data["SIZE"] | translate }}</td>
    </tr>
    <tr>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; S&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; M&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; L&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; XL&nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; XXL&nbsp; &nbsp;</td>
    </tr>
    <tr>
      <td>1</td>
      <td>{{ this.translate.data["CO"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;36</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;38</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;40</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;42</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;44</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{ this.translate.data["VAI"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;44</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;45</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;46</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;47</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;48</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{ this.translate.data["NGUC"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;90</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;94</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;98</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp;102</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp;106</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{ this.translate.data["EO"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;88</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;92</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;96</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 100</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 104</td>
    </tr>
    <tr>
      <td colspan="9">
        <h5><b>{{ this.translate.data["SIZE QUAN"] | translate }}</b></h5>
      </td>
    </tr>
    <tr>
      <td rowspan="2">{{ this.translate.data["STT"] | translate }}</td>
      <td rowspan="2">{{ this.translate.data["NAME"] | translate }}</td>
      <td colspan="5">{{ this.translate.data["SIZE"] | translate }}</td>
    </tr>
    <tr>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; S&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; M&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; L&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; XL&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; XXL&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
    </tr>
    <tr>
      <td>1</td>
      <td>{{ this.translate.data["EO"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;76</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;80</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;84</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;86</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;90</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{ this.translate.data["HONG"] | translate }}</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;91</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;95</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;99</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 104</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; 109</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{ this.translate.data["KG"] | translate }} (kg)</td>
      <td>&nbsp; &nbsp; &nbsp;62 - 68</td>
      <td>&nbsp; &nbsp; &nbsp;68 - 70</td>
      <td>&nbsp; &nbsp; &nbsp;70 - 74</td>
      <td>&nbsp; &nbsp; &nbsp;74 - 78</td>
      <td>&nbsp; &nbsp; &nbsp;78 - 82</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{ this.translate.data["CHIEU CAO"] | translate }} (cm)</td>
      <td>&nbsp; &nbsp;162 - 168</td>
      <td>&nbsp; &nbsp;168 - 172</td>
      <td>&nbsp; &nbsp;172 - 176</td>
      <td>&nbsp; &nbsp;176 - 180</td>
      <td>&nbsp; &nbsp;180 - 184</td>
    </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>

  <table class="table table-responsive table-bordered">
    <tbody>
    <tr>
      <td colspan="9">
        <h5><b>{{ this.translate.data["SIZE GIAY"] | translate }}</b></h5>
      </td>
      <td class="hidden-xs" rowspan="5" width="300px;"><img src="https://ivymoda.com/assets/files/news/2017/08/04/7ca90247ac04def9f527bf1579e8aaf0.jpg" width="300" /></td>
    </tr>

    <tr>
      <td rowspan="2">{{ this.translate.data["NAME"] | translate }}</td>
      <td colspan="6">{{ this.translate.data["SIZE"] | translate }}</td>
    </tr>
    <tr>
      <td>&nbsp; &nbsp; &nbsp; 39&nbsp; &nbsp; &nbsp; </td>
      <td>&nbsp; &nbsp; &nbsp; 40&nbsp; &nbsp;&nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;41  &nbsp; &nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;42 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;43  &nbsp; </td>
      <td>&nbsp; &nbsp; &nbsp; 44 &nbsp; &nbsp; &nbsp;</td>
    </tr>
    <tr>
      <td>{{ this.translate.data["CHIEU DAI"] | translate }}</td>
      <td>&nbsp; &nbsp;&nbsp; 25,2 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;26 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;26,9&nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp;27,7 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; &nbsp;28,5 &nbsp; &nbsp; &nbsp;</td>
      <td>&nbsp; &nbsp; &nbsp; 29,4 &nbsp; &nbsp; &nbsp;</td>
    </tr>
    </tbody>
  </table>


</div>
</div>
<br/><br/><br/><br/>
<!-- //contacts -->

<app-footer></app-footer>
