<img src="../../../assets/images/e1.jpg" height="450" width="100%"/>

<div id="content" class="container-fluid">
  <div class="row">
    <div class="container info-about">

      <div class="row">
        <div class="col-md-12" style="padding-top: 20px">
          <p><meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
            <style type="text/css">body {font-family: arial !important}
            </style>
          </p>

          <h3 style="color: #ff7315;">{{ this.translate.data["WARRANTY"] | translate }}</h3>

          <p>{{ this.translate.data["WARRANTY1"] | translate }}</p>

          <p>&nbsp;{{ this.translate.data["WARRANTY2"] | translate }}&nbsp;</p>

          <p>- {{ this.translate.data["WARRANTY3"] | translate }}</p>

          <p>- {{ this.translate.data["WARRANTY4"] | translate }}</p>

          <p>- {{ this.translate.data["WARRANTY5"] | translate }}</p>

          <p>- {{ this.translate.data["WARRANTY6"] | translate }}</p>

          <p>- {{ this.translate.data["WARRANTY7"] | translate }}<br />
            <br />
            <em><strong>{{ this.translate.data["WARRANTY8"] | translate }}</strong></em></p>

        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
