<img src="../../../assets/images/e7.jpg" height="450" width="100%"/>

  <section class="w3l-wecome-content-6">
    <!-- /content-6-section -->
    <div class="ab-content-6-mian py-5">
      <div class="container py-lg-5">
        <div class="welcome-grids row">
          <div class="col-lg-6 mb-lg-0 mb-5" >
            <h3 class="hny-title" style="color: #ff7315">
              {{ this.translate.data["ABOUT1"] | translate }}</h3>
            <p class="my-4">{{ this.translate.data["ABOUT2"] | translate }}</p>
            <p class="mb-4">{{ this.translate.data["ABOUT3"] | translate }}</p>
            <p class="my-4">{{ this.translate.data["ABOUT4"] | translate }}</p>
            <p class="mb-4">{{ this.translate.data["ABOUT5"] | translate }}</p>
          </div>
          <div class="col-lg-6 welcome-image" >
            <img src="../../../assets/images/size.jpg" class="img-fluid" alt="" />
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- //content-6-section -->


  <div class="w3l-specification-6">
    <!-- /specification-6-->
    <div class="specification-6-mian py-5">
      <div class="container py-lg-5">
        <div class="row story-6-grids text-left">
          <div class="col-lg-5 story-gd">
            <img src="../../../assets/images/left2.jpg" class="img-fluid" alt="/">
          </div>
          <div class="col-lg-7 story-gd pl-lg-4" >
            <h3 class="hny-title" style="color: #ff7315">{{ this.translate.data["ABOUT6"] | translate }}</h3>
            <p >{{ this.translate.data["ABOUT15"] | translate }}</p>

            <div class="row story-info-content mt-md-5 mt-4">

              <div class="col-md-6 story-info">
                <h5> <a href="#" style="color: #ff7315">01. {{ this.translate.data["ABOUT7"] | translate }}</a></h5>
                <p>{{ this.translate.data["ABOUT8"] | translate }}.</p>

              </div>
              <div class="col-md-6 story-info">
                <h5> <a href="#" style="color: #ff7315">02. {{ this.translate.data["ABOUT9"] | translate }}</a></h5>
                <p>{{ this.translate.data["ABOUT10"] | translate }}.</p>
              </div>
              <div class="col-md-6 story-info">
                <h5> <a href="#" style="color: #ff7315">03. {{ this.translate.data["ABOUT11"] | translate }}</a></h5>
                <p>{{ this.translate.data["ABOUT12"] | translate }}.</p>
              </div>
              <div class="col-md-6 story-info">
                <h5> <a href="#" style="color: #ff7315">04. {{ this.translate.data["ABOUT13"] | translate }}</a></h5>
                <p>{{ this.translate.data["ABOUT14"] | translate }}.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/team-sec-->

  <div class="features-4">
    <div class="features4-block py-5">
      <div class="container py-lg-5">
        <h6>{{ this.translate.data["ABOUT16"] | translate }}</h6>
        <h3 class="hny-title text-center">{{ this.translate.data["ABOUT17"] | translate }}</h3>

        <div class="features4-grids text-center row mt-5">
          <div class="col-lg-3 col-md-6 features4-grid">
            <div class="features4-grid-inn">
              <span class="fa fa-bullhorn icon-fea4" aria-hidden="true"></span>
              <h5><a href="#URL">{{ this.translate.data["ABOUT18"] | translate }}</a></h5>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 features4-grid sec-features4-grid">
            <div class="features4-grid-inn">
              <span class="fa fa-truck icon-fea4" aria-hidden="true"></span>
              <h5><a href="#URL">{{ this.translate.data["ABOUT19"] | translate }}</a></h5>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 features4-grid">
            <div class="features4-grid-inn">
              <span class="fa fa-recycle icon-fea4" aria-hidden="true"></span>
              <h5><a href="#URL">{{ this.translate.data["ABOUT20"] | translate }}</a></h5>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 features4-grid">
            <div class="features4-grid-inn">
              <span class="fa fa-recycle icon-fea4" aria-hidden="true"></span>
              <h5><a href="#URL">{{ this.translate.data["ABOUT21"] | translate }}</a></h5>

            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- features-4 -->
  <!--//team-sec-->

  </div>


<app-footer></app-footer>

