<img src="../../../assets/images/bn6.jpg" height="450" width="100%"/>


<!-- mail -->
<div class="mail">
  <div class="container">
    <div class="agile_mail_grids">
      <div class="col-md-5 contact-left">
        <h4>{{ this.translate.data["CONTACTT"] | translate }}</h4>
        <p><span>{{ this.translate.data["CONTACT1"] | translate }}</span></p>

        <ul>
          <li>{{ this.translate.data["CONTACT2"] | translate }}</li>
          <li>{{ this.translate.data["CONTACT3"] | translate }}</li>
          <li>{{ this.translate.data["CONTACT4"] | translate }}</li>
          <li><a href="mailto:sunriseshop2020@gmail.com">{{ this.translate.data["CONTACT5"] | translate }}</a></li>
        </ul>
      </div>
      <div class="col-md-7 contact-right">
        <h4>{{ this.translate.data["CONTACT6"] | translate }}</h4>
        <form action="#" method="post">
          <input type="text" name="Name" placeholder="Your Name" required="">
          <input type="email" name="Email" placeholder="Your Email" required="">
          <input type="text" name="Telephone" placeholder="Telephone No" required="">
          <textarea name="message" placeholder="Message..." required=""></textarea>
          <input type="submit" value="Submit" >
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>

    <div class="contact-bottom">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.0293498803753!2d108.1509029146841!3d16.063966688884204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142192f35d68bef%3A0x6342cbd1ad968776!2zUGjhuqFtIE5oxrAgWMawxqFuZw!5e0!3m2!1svi!2s!4v1603906333145!5m2!1svi!2s"
        frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<br/><br/><br/>
<app-footer></app-footer>
