<br><br><br><br><br>


<div class="center" style="margin: auto">

<div class="row">
  <div class="col-sm">
    <div class="row" >
      <div class="col-md-7" style="border-right: 1px solid #dddddd;" >
        <!-- Section: Filters -->
        <div class="resume" style="margin-left: 70px">
          <header class="page-header">
            <h1 class="page-title">Proflie of {{user.name}}</h1>
          </header>
          <br>
          <div class="row">

                    <div class="col-lg-12">
                      <div class="col-xs-12 col-sm-4" style="float: left">
                        <figure >
                          <img class="img-circle img-responsive" alt="" src="../../../assets/images/user.png"
                               style=" width:170px; height:220px;border: 1px solid #dddddd; border-radius: 85px;">
                        </figure>
                      </div>

                      <div class="col-xs-12 col-sm-8" style="float: right; left:-50px">
                        <ul class="list-group">
                          <li class="list-group-item">Name: {{user.name}}</li>
                          <li class="list-group-item">Phone: {{user.phone}}</li>
                          <li class="list-group-item">Address: {{user.address}}</li>
                          <li class="list-group-item">Email: {{user.email}} </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


        <!-- Section: Filters -->
      </div>
      <div class="col-md-4" style="margin-left: 50px">
        <div class="container">
          <div >
            <form #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label><b>Email address</b></label>
                <input readonly [value]=user?.email type="email" class="form-control form-control-lg " disabled id="email"
                       name="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label><b>Name</b></label>
                <input [(ngModel)]="user.name" type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Your name" required #name="ngModel" autofocus>
                <div  *ngIf="name.invalid && (name.dirty || name.touched)">
                  <div *ngIf="name.errors.required">
                    Name is required.
                  </div>
                  <div *ngIf="name.errors.minlength">
                    Name must be at least 3 characters long.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label><b>Password</b></label>
                <input  [(ngModel)]="user.password" type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" minlength="3" required #password="ngModel">
                <div  *ngIf="password.invalid && (password.dirty ||password.touched)">
                  <div *ngIf="password.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 3 characters long.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label><b>Phone</b></label>
                <input [(ngModel)]="user.phone" type="text" class="form-control form-control-lg" id="phone" name="phone" placeholder="Phone" required #phone="ngModel" >
                <div  *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
                  <div *ngIf="phone.errors.required">
                    Phone is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label><b>Address</b></label>
                <input [(ngModel)]="user.address" type="text" class="form-control form-control-lg" id="address" name="address" placeholder="Address" required #address="ngModel">
                <div  *ngIf="address.invalid && (address.dirty ||address.touched)">
                  <div *ngIf="address.errors.required">
                    Address is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!form.form.valid" >Update</button>
              </div>
            </form>
          </div>

  </div>

</div>
    </div>
  </div>  </div>
</div>
