<br/><br/><br/><br/><br/>
<h1 align="center" class="display-4 ">Chart</h1>
<section>



  <div >
<div style="display: block;height: 50%; width: 50%;float: right">
  <div *ngFor="let sum0 of sum0">
    <div *ngFor="let sum1 of sum1">
    <div *ngFor="let sum2 of sum2">
    <div *ngFor="let sum3 of sum3">
    <canvas baseChart
            [data]="[sum1.TONG1,sum0.TONG0,sum3.TONG3,sum2.TONG2]"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
    </canvas>
  </div></div></div></div>
  <h2 style="text-align: center">Sales statistics</h2>
  <h3 style="text-align: center" *ngFor="let sum of sum">Total revenue:<strong> {{sum.TONG|currency}} </strong> </h3>
</div>
  </div>




  <div >
    <div style="display: block;height: 50%; width: 50%;">
      <div *ngFor="let count0 of count0">
        <div *ngFor="let count1 of count1">
          <div *ngFor="let count2 of count2">
            <div *ngFor="let count3 of count3">
              <canvas baseChart
                      [data]="[count1.SOLUONG1,count0.SOLUONG0,count3.SOLUONG3,count2.SOLUONG2]"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"
                      [legend]="pieChartLegend">
              </canvas>
            </div></div></div></div>
      <h2 style="text-align: center">Statistics of the number of orders</h2>
      <h3 style="text-align: center" *ngFor="let count of count">Total number of orders: <strong>{{count.SOLUONG}} orders</strong> </h3>
    </div>


  </div>
</section>

<section class="mb-4" style="margin: 20px 20px 0 0" >

  <div class="check" style="margin-left: 640px" >
    <input style="margin: 5px 10px 0 0 " type="radio" (click)="update()" class="form-check-input" id="all"  name="materialExampleRadios">
    <label style="margin: 0 20px" class="form-check-label small text-uppercase card-link-secondary" for="all" >All orders</label>

    <input  style="margin: 5px 10px 0 0 " type="radio" (click)="pageoder1()" class="form-check-input"  id="1" name="materialExampleRadios">
    <label  style="margin: 0 20px" class="form-check-label small text-uppercase card-link-secondary" for="1" >Finished order</label>

    <input style="margin: 5px 10px 0 0 " type="radio" (click)="pageoder2()" class="form-check-input" id="2" name="materialExampleRadios">
    <label style="margin: 0 20px" class="form-check-label small text-uppercase card-link-secondary" for="2" >Cenceled order</label>

    <input style="margin: 5px 10px 0 0 " type="radio" (click)="pageoder3()" class="form-check-input" id="3"  name="materialExampleRadios">
    <label style="margin: 0 20px" class="form-check-label small text-uppercase card-link-secondary" for="3" >Approved order</label>

    <input style="margin: 5px 10px 0 0 " type="radio" (click)="pageoder0()" class="form-check-input" id="0" name="materialExampleRadios">
    <label style="margin: 0 20px"  class="form-check-label small text-uppercase card-link-secondary" for="0" >New orders</label>
  </div>

</section>
<table class="table table-striped text-center">
  <thead>
  <tr>
    <th scope="col">Order #</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Customer Email</th>
    <th scope="col">Customer phone</th>
    <th scope="col">Shipping Address</th>
    <th scope="col">Total</th>
    <th scope="col">Order Data</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let order of page?.content">
    <th class="align-middle" scope="row">
      {{order.orderId}}
    </th>
    <td class="align-middle">{{order.buyerName}}</td>
    <td class="align-middle">{{order.buyerEmail}}</td>
    <td class="align-middle">{{order.buyerPhone}}</td>
    <td class="align-middle">{{order.buyerAddress}}</td>
    <td class="align-middle">{{order.orderAmount | currency}}</td>
    <td class="align-middle">{{order.createTime | date}}</td>
    <td class="align-middle" >{{OrderStatus[order.orderStatus]}}</td>
    <td class="align-middle">
      <a *ngIf="!(currentUser.role == Role.Customer && currentUser.name == order.buyerEmail)"
         style="display:
            block" href="" routerLink="/order/{{order.orderId}}">
        Show</a>
    </td>

  </tr>
  </tbody>
</table>
<app-pagination [currentPage]="page "></app-pagination>
